body {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
    border: transparent 1px;
    background-color: rgb(255, 235, 197);
    text-align: center;
}

body h1 {
    color: rgba(184, 71, 51, 0.85);
}

nav {
    height: 50px;
    position: relative;
    right: 2.45%;
}

footer p {
    color: rgba(184, 71, 51, 0.85);
    width: 100%;
}

a:visited {
    color: rgb(184, 71, 51);

    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(184, 71, 51);
}

a:hover {
    color: rgb(184, 71, 51);
    border-left: solid 5px;
    border-bottom: solid 5px;
    border-radius: 100px;
    transition: all 0.25s;
    padding: 10px;
}

p {
    color: black;
}

hr {
    border: solid 1px rgba(184, 71, 51, 0.85);
}

.perfil {
    max-width: 300px;
    border-radius: 50%;
}

.frase {
    color: black;
}